@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

.header2 {
    background: linear-gradient(91.37deg, #A3C270 0%, #A9C183 100%);
    height: 10rem;
}

* {
    font-family: Oxygen, sans-serif;
}

h2,
h4,
h5,
label,
select,
.button,
.subtitle {
    font-family: "Quicksand";
    font-weight: bolder;
}

.navbar {
    background-color: transparent !important;
}

.button {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    border: none;
    font-size: 14px;
    padding: 20px;
}

.is-primary {
    background: #A4C274 !important;
}

.is-danger {
    background: #BA6565 !important;
}

.select-list {
    border: none !important;
    background: #DBF0B8 !important;
    font-size: 14px !important;
}

option {
    text-align: center;
    font-family: "Quicksand";

}

.subtitle {
    font-size: 15px;
    font-weight: bold;
  }

p {
    font-size: 15px;
  }

.has-text-primary { 
    color: #A3C270 !important;
}

.has-text-danger { 
    color: #BA6565 !important;
}


  .empty { color: gray; }